* {
    margin: 0px;
    padding: 0px;
    }


.navigation {
    background-color:#E0E0E0 ;
    display: flex;
    justify-content: space-between  ;
    align-items: center;
    width: 100%;
}

.imagem {
    width: 20%;        
}

.tema{
    width: 40% ;
}

.menu-bloco ul{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    border-style:none;
    background-color: #FFFFFF;
    list-style-type: none;
    padding: 0px;
}    

    