* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato';
    }


.navigation {
    background-color:#E0E0E0 ;
    display: flex;
    justify-content: space-between  ;
    align-items: center;
    width: 100%;
    height: 60px;
}

.imagem {
    display: flex;
    align-items: center; 
    margin-left: 200px;
    font-size: 20px;    
}

.menu-bloco{
    margin-right: 200px;
}

.menu-bloco li{
    margin-right: 10px;
}

.menu-bloco ul{
    
    display: flex;
    justify-content: space-around;
    border-style:none;
    background-color: #FFFFFF;
    list-style-type: none;
    height: 40px;
    align-items: center;
}

.menu-bloco ul li{
margin-left: 10px;
}


.menu-bloco ul li:hover {
    background: black;
    color: white;
}    


.block-1 {
    display: flex;
    flex-direction: column;
    width: 30%;
    height:344px;
    margin-left: 15%;
    border: 1px solid;
    border-color: #8d8b8b;
    border-radius: 4px;
}

#transacao {
    margin-top: 10px;
    height: 32px;
    border-radius: 5px;
    border: 1px solid #8d8b8b;
}

#form {
    margin-top: 12px;
}

.block-2 {
    width: 60%;
    height: 281px;
    margin-left: 20px;
    ;
}

.transactions {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.tema{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.conteudo-block1{
    display: flex;
    font-size: 14px;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 14px;
    border-radius: 6px;
    font-weight: bold;
    border-width: 50px; 
}


@media screen and (max-width:760px){
    
    .menu-bloco ul li {
        position: relative;
        top: 0;
        right: 0;
        flex-direction: column;


    }
}